/* src/App.css */
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square:hover {
  background-color: #ddd;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
}
